<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8' />
    <title>QUADRITOS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $('#modalitySelector').on('change', function() {
                if (this.value == 2)
                    $("#numberPlayerSelector").hide();
                else
                    $("#numberPlayerSelector").show();
            });
        });
    </script>
</head>
<body style="background:rgb(107,213,225)">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-brand"><img src="logo.jpg" height="42" width="42"/></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link disabled" href="/">Pagina principal</a>
                </li>
                <% if @username %>
                    <li class="nav-item">
                        <div class="nav-link disabled">Bienvenido <%=@username%></div>
                    </li>
                <% else %>
                    <li class="nav-item active">
                        <a class="nav-link" href="/register">Registrarse</a>
                    </li>
                <% end %>
            </ul>
        </div>
        </nav>
    <div class="container" style="text-align:center;">
        <form action="/game" method="get">
            <div>
                <h3 class="display-3">Modalidades</h3>
            </div>
            <br/>
            <div>
                <h3>Elige una modalidad para comenzar a jugar</h3>
            </div>
            <div class="form-group">
                <select class="form-control form-control-lg" id="modalitySelector" name="modality">
                    <option value="1" id="modalityPlayInSameComputer">Oponentes desde la misma PC</option>
                    <option value="2" id="modalityPlayInDifferentComputer">Oponentes desde distinta PC</option>
                    <!--<option value="3" id="modalityPlayWithComputer">Jugar contra la PC</option> -->
                </select>
            </div>
            <br/>
            <br/>
            <div class="form-group" id="numberPlayerSelector">
                <div>
                    <h3>Elige la cantidad de jugadores</h3>
                </div>
                <select class="form-control form-control-lg" id="numberPlayers" name="numberPlayers">
                    <option value="2">2 jugadores</option>
                    <option value="3">3 jugadores</option>
                    <option value="4">4 jugadores</option>
                </select>
            </div>
            <div>
                <button type="submit" class="btn btn-warning btn-lg" style="background:rgb(255,83,64);border:rgb(255,83,64)">Empezar partida</button>
            </div>
        </form>
    </div>
</body>
</html>